<footer id="footer">
	<div class="wrapper">
		<div class="footer_menu">
			<ul >
				<li class="top_list">Категории</li>
				<li><a href="#">Автомобили</a></li>
				<li><a href="#">Шины и диски</a></li>
				<li><a href="#">Запчасти</a></li>
			</ul>
			<ul class="list2">
				<li class="top_list">Полезная информация</li>
				<li><a href="#">Как это устроено?</a></li>
				<li><a href="#">Участие в аукционах</a></li>
				<li><a href="#">Размещение объявлений</a></li>
				<li><a href="#">Размещение лота</a></li>
				<li><a href="#">FAQ</a></li>
			</ul>
			<ul class="list2 ">
				<li class="top_list">Сотрудничество</li>
				<li><a href="#">Размещение рекламы</a></li>
				<li><a href="#">Для партнеров</a></li>
			</ul>
			<ul class="list2 ">
				<li class="top_list">Trade Car</li>
				<li><a href="#">Информация о нас</a></li>
				<li><a href="#">Форма обратной связи</a></li>
				<li><a href="#">Сообщить об ошибке</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
		<div class="footer_block">
			<div class="footer_title">
				<h4>Есть вопросы?</h4>
				<p>Звоните! <span>+7 (495) 344-05-48</span></p>
				<p>или пишите: <span class="mail">info@tradecar.ru</span></p>
				<a href="#"><img src="./image/logo.png" alt="logo"></a>
				<p class="pravo">© Все права защищены   ООО “Автопила”, 2016</p>
			</div>
		</div>
		<div class="footer_mobi">
			<h4>+7 (495) 344-05-48</h4>
			<a href="#">Сообщить об ошибке</a>
			<a href="#">Задать вопрос</a>
			<a href="#">Полная версия</a>
			<a class="mobi_logo" href="#"><img src="./image/logo.png" alt="logotip"></a>
			<p class="pravo">© Все права защищены   ООО “Автопила”, 2016</p>
		</div>
	</div>
</footer>

    <script src="script/jquery-2.2.3.min.js"></script>
    <script src="script/main.js"></script>
    <script src="script/jquery.formstyler.min.js"></script>
    <script src="script/slick.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js'></script>
    <script src='script/swipe.js'></script>
    <script src="script/PGW.jquery.js"></script>
</body>

</html>
