<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/jquery.formstyler.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css'>
    <link rel="stylesheet" href="styles/PGW.jquery.css">
    <link rel="stylesheet" href="styles/slick.css">
    <link rel="stylesheet" href="styles/slick-theme.css">
    <title>Document</title>
</head>

<body>
<header>
    <div class="wrapper">
    	<div class="logo">
    		<a href="#"><img src="./image/logo.png" alt="logotip"></a>
    	</div>
    	<ul class="menu">
		    <li></li>
		    <li></li>
		    <li></li>
		</ul>
    	<nav>
    		<ul>
    			<li><a href="#">Автомобили</a></li>
    			<li><a href="#">Шины и диски</a></li>
    			<li><a href="#">Запчасти</a></li>
                <li>
                    <div class="registration registration2">
                        <a class="btn_out" href="enter.html">Вход</a>
                        <a href="#">Регистрация</a>
                    </div>  
                </li>
            </ul>
    	</nav>
        <div class="block_buy">
        	<div class="block_rating">
        		<span class="rating">3</span>
        	</div>	
        	<a href="#" class="btn_buy">Продать</a>
        </div>
    	<div class="registration">
    		<a class="btn_out" href="enter.html">Вход</a>
    		<a href="registration.html">Регистрация</a>
    	</div>
    </div>
</header>
<div class="clearfix"></div>