<div class="parts_sidebar">
	<div class="title_parts">Параметры:</div>
	<form>
		 <select>
            <option>Категория запчастей:</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select >
            <option>Выберите марку:</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select >
            <option>Выберите модель:</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select >
            <option>Поколение:</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select >
            <option>Выберите город:</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
    <div class="select_text">
        <a href="#" class="btn_apply">Применить</a>
        <a href="" class="btn_reset">Сбросить все параметры</a>
    </div>
	</form>
	<div class="title_parts title_parts2">Поиск запчастей:</div>
	<p class="parts_info">
		Если Вы не нашли подходящую запчасть для Вашего авто, заполните форму заявки ниже, после чего получайте 
		уведомления с разборок Москвы
		с предложениями!
	</p>
	<form class="registrations">
		<input type="text" placeholder="Ваше имя">
		<input type="text" placeholder="+7 (___)  ___  __  __">
		<input type="text" placeholder="Электронная почта">
		<textarea>Укажите запчасть,<br> которую Вы ищите...</textarea>
		<input type="submit" value="Отправить заявку">
	</form>
	<div class="baner_saidbar">
		<a href="#"><img src="./image/baner.png" alt="baner"></a>
	</div>
</div>