<div class="right_slider_car tyres">
    <div class="baner_saidbar">
        <a href="#"><img src="./image/baner.png" alt="baner"></a>
    </div>
    <p>Рекомендуем!</p>
    <ul>
        <li>
            <div class="top_part">
                <span class="address_marker">г. Москва</span>
                <div class="favorite_label"></div>
                <div class="clearfix"></div>
            </div>
            <div class="for_img">
                <img src="./image/tyres.jpg" alt="car1">
            </div>

            <a href="#">Шины Nokian6 205/195</a>
            <div class="block_text">
                <div class="text_buy">120 000 р.</div>
                <div class="text_hag">шаг 10 000 р</div>
            </div>
            <div class="text_rate">Всего ставок: <span> 1</span></div>
            <div class="text_date">Завершится через: <span class="slow">31 мин</span></div>
            <a href="#" class="btn_claim tyres_button">Сделать ставку</a>
        </li>
        <li>
            <div class="top_part">
                <span class="address_marker">г. Москва</span>
                <div class="favorite_label active"></div>
                <div class="clearfix"></div>
            </div>
            <div class="for_img">
                <img src="./image/tyres.jpg" alt="car1">
            </div>

            <a href="#">Шины Nokian6 205/195</a>
            <div class="block_text">
                <div class="text_buy">120 000 р.</div>
                <div class="text_hag">шаг 10 000 р</div>
            </div>
            <div class="text_rate">Всего ставок: <span> 1</span></div>
            <div class="text_date">Завершится через: <span class="slow">31 мин</span></div>
            <a href="#" class="btn_claim tyres_button">Сделать ставку</a>
        </li>
    </ul>
</div>