<div class="right_slider_car">
	<div class="baner_saidbar">
		<a href="#"><img src="./image/baner.png" alt="baner"></a>
	</div>
	<p>Рекомендуем!</p>
	 <ul>
        <li>
            <img src="./image/car1.jpg" alt="car1">
            <span>г. Москва</span>
            <a href="#">2008, Volvo V40</a>
            <div class="block_text">
                <div class="text_buy">120 000 р.</div>
                <div class="text_hag">шаг 10 000 р</div>
                <div class="text_info">1,6л., AMT (135 л.с.), бензин, передний привод</div>
            </div>
            <div class="text_rate">Всего ставок: <span> 1</span></div>
            <div class="text_date">Завершится через: <span class="slow">31 мин</span></div>
            <a href="#" class="btn_claim">Сделать ставку</a>
        </li>
        <li>
            <img src="./image/car1.jpg" alt="car1">
            <span>г. Москва</span>
            <a href="#">2008, Volvo V40</a>
            <div class="block_text">
                <div class="text_buy">120 000 р.</div>
                <div class="text_hag">шаг 10 000 р</div>
                <div class="text_info">1,6л., AMT (135 л.с.), бензин, передний привод</div>
            </div>
            <div class="text_rate">Всего ставок: <span> 1</span></div>
            <div class="text_date">Завершится через: <span class="slow">31 мин</span></div>
            <a href="#" class="btn_claim">Сделать ставку</a>
        </li>
    </ul>
</div>