        <div class="right_slider">
            <h3 class="title_param">Параметры:</h3>
        <form>
        <select>
            <option>Mazda</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select >
            <option>Выберите модель:</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select >
            <option>Поколение:</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
            <p class="section_p section_p1" >Кузов:</p>
            <p class="section_p" >Коробка:</p>
        <select class="small_select small" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select class="small_select" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
            <p class="section_p section_p1" >Двигатель:</p>
            <p class="section_p" >Привод:</p>
        <select class="small_select small" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select class="small_select" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <p class="section_p2" >Объем:</p>
        <select class="small small_select small_select_text" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select class="small_select small_select_text2" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <p class="section_p2" >Год:</p>
        <select class="small small_select small_select_text" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select class="small_select small_select_text2" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <p class="section_p2" >Пробег (км):</p>
        <select class="small small_select small_select_text" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select class="small_select small_select_text2" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <p class="section_p2" >Цена:</p>
        <select class="small small_select small_select_text" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select class="small_select small_select_text2" >
            <option>Позиция</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select >
            <option>Все города</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <select >
            <option>Все города</option>
            <option>Позиция 1</option>
            <option>Позиция 2</option>
            <option>Позиция 3</option>
            <option>Позиция 4</option>
        </select>
        <div class="select_text">
            <a class="btn_dop" href="#">Дополнительные фильтры (15)</a>
            <a href="#" class="btn_apply">Применить</a>
            <a href="" class="btn_reset">Сбросить все параметры</a>
        </div>
        </div>