//    Car_tile

.car_tile {
    width: 72.3214%;
    float: left;
}

.top_link {
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        margin: 55px 0 40px;
        margin-right: 40px;
        display: inline-block;
        position: relative;
        a {
            font-family: $regular;
            font-size: 16px;
            color: #000;
            text-decoration: underline;
        }
        .active {
            font-family: $italik;
            font-size: 16px;
            color: #7b7b7b;
            text-decoration: none;
        }
        &:after {
            content: '';
            width: 13px;
            height: 5px;
            display: block;
            position: absolute;
            top: 8px;
            right: -29px;
            background: url(../image/arrow_line.png);
        }
        &:last-child {
        margin-right: 0;
            &:after {
                display: none;
            }
        }
    }
}

.car_top_btn {
    @extend .collections_top;
    margin-top: 0;
    .collections_tab {
        width: 50.61%;
        float: left;
    }
    .collections_tab .btn_collections1 {
        float: right;
    }
}

.car_filter {
    .filter_select {
        margin-right: 17px;
        float: left;
        width: auto;
    }
    .jq-selectbox__select-text {
        color: #219ce3;
    }
}

//////////////
.tabs {
    float: left;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
}


/* стили секций с содержанием */

.content_tab {
    display: none;
    margin-top: -20px;
    background: #fff;
}

.tabs input {
    display: none;
}


/* стили вкладок (табов) */

.tabs label {
    display: inline-block;
    margin: 0 0 -1px;
    width: 25px;
    height: 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    background: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 10px;
}

.tabs .bg_label {
    background: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: -28px 0;
}

.tabs .bg_label1 {
    background: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: -60px 0;
}

.tabs input:checked + .bg_label {
    color: #555;
    background: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: -28px -25px;
}

.tabs input:checked + .bg_label1 {
    color: #555;
    background: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: -60px -25px;
}

.tabs label:before {
    font-weight: normal;
    margin-right: 10px;
}


/* изменения стиля заголовков вкладок при наведении */

.tabs label:hover {
    color: #888;
    cursor: pointer;
}


/* стили для активной вкладки */

.tabs input:checked + label {
    color: #555;
    background: url(../image/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -25px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
    display: block;
}


/* медиа запросы для различных типов носителей */

@media screen and (max-width: 680px) {
    .tabs label {
        font-size: 0;
    }
    .tabs label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .tabs label {
        padding: 15px;
    }
}

.labew {
    position: relative;
    top: -110px;
    right: -693px;
}

.title_number {
    margin: 20px 0;
    h3 {
        font-family: $light;
        font-size: 28px;
        color: #7b7b7b;
        span {
            font-family: $semibold;
            color: #000;
        }
    }
}

.content_tab1 {
    &.tyres {
        li {
            > span {
                top: -120px;
            }
            img {
                margin-top: 15px;
            }
        }
    }
    li {
        width: 258px;
        display: inline-block;
        position: relative;
        margin-right: 13px;
        margin-bottom: 16px;
        border: 0;
        overflow: hidden;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.1);
        position: relative;
        &:nth-child(3n) {
            margin-right: 0;
        }
        img {
            width: 100%;
        }
        > span {
            font-size: 15.4px;
            font-family: segoeui;
            color: #fff;
            position: relative;
            top: -173px;
            left: 41px;
            padding: 0px 10px 3px 10px;
            background: rgba(207, 216, 220, 0.8);
            border-radius: 13px;
            &:after {
                content: '';
                width: 15px;
                height: 21px;
                display: block;
                position: absolute;
                top: 2px;
                left: -24px;
                background: url(../image/icon_marker.png);
            }
        }
        > a {
            display: block;
            font-family: $bold;
            font-size: 18.7px;
            margin: -3px 20px -1px 20px;
            color: #000;
            text-decoration: underline;
            font-style: italic;
            &:hover {
                color: #219ce3;
            }
        }
        .block_text {
            overflow: hidden;
            margin: 19px 20px 0px 20px;
            padding-bottom: 13px;
            box-sizing: border-box;
            border-bottom: 2px solid $color;
            .text_buy {
                float: left;
                font-family: $regular;
                font-size: 18px;
                color: #000;
            }
            .text_hag {
                float: right;
                color: #7b7b7b;
                font-size: 15px;
                font-family: $regular;
            }
        }
        .text_rate {
            padding: 15px 20px 7px 20px;
            color: #262626;
            font-family: $regular;
            font-size: 15px;
            span {
                font-family: $semibold;
                color: #000;
            }
        }
        .text_date {
            padding: 0 20px 20px 20px;
            color: #262626;
            font-family: $regular;
            font-size: 15px;
            span {
                font-family: $italik;
                color: #7b7b7b;
            }
            .slow {
                font-size: 15px;
                font-family: $italik;
                color: #ff1800;
            }
        }
        .text_info {
            font-family: $italik;
            font-size: 15px;
            color: #7b7b7b;
            float: left;
            margin: 15px 0 -3px;
            line-height: 17px;
        }
    }
    .btn_claim {
        text-align: center;
        transition: all 0.2s ease-out;
        display: inline-block;
        width: 221px;
        height: 38px;
        padding-top: 6px;
        color: #000;
        font-family: $regular;
        font-size: 16px;
        box-sizing: border-box;
        border: 3px solid #ffd600;
        border-radius: 6px;
        text-decoration: none;
        margin-bottom: 15px;
        &:hover {
            color: #000;
            background: #ffd600;
        }
    }
    .action {
        &:after {
            content: '';
            width: 18px;
            height: 17px;
            display: block;
            position: absolute;
            top: 13px;
            right: 13px;
            background: url(../image/star.png);
        }
    }
}

.pagination {
    margin-top: 34px;
    margin-bottom: 90px;
    text-align: center;
    li {
        text-align: center;
        width: 33px;
        height: 33px;
        margin: 0;
        padding: 0;
        box-shadow: none;
        display: inline-block;
        border: 1px solid #c2c2c2;
        margin: 0 4px;
        border-radius: 0;
        box-sizing: border-box;
        &:first-child {
            overflow: inherit;
            border: 0;
            float: left;
            position: relative;
            margin-left: 45px;
            &:after {
                content: '';
                width: 9px;
                height: 10px;
                display: block;
                position: absolute;
                top: 12px;
                left: -20px;
                background: url(../image/pagination_arrow.png);
            }
        }
        &:last-child {
            overflow: inherit;
            border: 0;
            float: right;
            margin-right: 110px;
            margin-left: -70px;
            position: relative;
            &:after {
                content: '';
                width: 9px;
                height: 10px;
                display: block;
                position: absolute;
                top: 12px;
                right: -85px;
                transform: rotate(180deg);
                background: url(../image/pagination_arrow.png);
            }
        }
        a {
            display: block;
            line-height: 33px;
            margin: 0;
            font-family: $regular;
            font-size: 18px;
            color: #7b7b7b;
            text-decoration: none;
        }
    }
    .dots {
        border: 0;
    }
}

.car_partner {
    border-top: 2px solid #cfd8dc;
    .title_partner h3 {
        padding-top: 40px !important;
    }
}

.content_tab2 {
    @extend .content_tab1;
    li {
        width: 100%;
        margin-bottom: 19px;
        margin-right: 0;
        box-shadow: 0px 2px 17px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        img {
            float: left;
            width: 260px;
            margin-right: 30px;
        }
        .text_hag2 {
            margin-left: 35px;
            float: left !important;
        }
        .text_info {
            margin: 30px 0 0px -205px;
        }
        .text_rate,
        .text_date {
            display: block !important;
        }
        .width {
            margin-top: 33px;
            float: right;
            font-family: $regular;
            font-size: 15px;
            color: #000;
        }
    }
    .action:after {
        left: 227px !important;
    }
    .btn_claim2 {
        margin-top: -57px;
        float: right;
    }
}

.content_tab3 {
    @extend .content_tab2;
    li {
        .text_buy {
            padding-right: 35px;
        }
        .text_info {
            margin: 0;
            float: none;
        }
        .width {
            margin: 10px 0 10px -115px;
            float: left;
        }
        .block_text {}
        .car_sescription {
            line-height: 18px;
            float: left;
            font-family: $regular;
            font-size: 15px;
            color: #7b7b7b;
        }
        .car_favorit {
            margin-top: 8px;
            padding-right: 15px;
            float: left;
            font-family: $semibold;
            font-size: 15px;
            color: #262626;
        }
        .text_date {
            padding-top: 8px;
        }
    }
}


