@font-face {
font-family: "segoeui";
  src: url("../font/segoeui.ttf");
}

@font-face {
font-family: "seguisb";
  src: url("../font/seguisb.ttf");
}

@font-face {
font-family: "segoeuii";
  src: url("../font/segoeuii.ttf");
}
@font-face {
font-family: "seguisbi";
  src: url("../font/seguisbi.ttf");
}
@font-face {
font-family: "segoeuib";
  src: url("../font/segoeuib.ttf");
}
@font-face {
font-family: "segoeuil";
  src: url("../font/segoeuil.ttf");
}
@font-face {
font-family: "seguisbi";
  src: url("../font/seguisbi.ttf");
}
@font-face {
font-family: "seguibl";
  src: url("../font/seguibl.ttf");
}